.keyboardCont {
    display: flex;
    height: 10rem;
}

.octaveCont {
    position: relative;
    width: 15rem;
}

.whiteKeyCont {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.whiteKey {
    background-color: #d0d0d0;
    border: 1px solid #2b173d;
    border-radius: 3px;
    flex: 1;
}

.whiteKey:hover {
    background-color: #e0e0e0;
}

.whiteKey:active {
    background-color: #f0f0f0;
}

.blackKeyCont {
    position: absolute;
    top: 0%;
    display: flex;
    height: 67%;
    width: 100%;
    align-items: stretch;
}

.blackKey {
    background-color: #2b173d;
    border: 1px solid black;
    border-radius: 3px;
    flex: 1;
    margin: 0 0.25rem;
}

.blackKey:hover {
    background-color: #36234a;
}

.blackKey:active {
    background-color: #462c61;
}

.ghostKey {
    flex: 0.5;
    opacity: 0;
    pointer-events: none;
}

